---
const home = await Astro.glob("@home/markdown/home.md");
---

<section class="prose prose-invert">
  <!-- <Photo/> -->
  {home.map((h) => 
    <h2 class="text-xl">{h.frontmatter.title}</h2>
    <p set:html={h.compiledContent()} />
  )}
</section>
