---
import { Image } from "astro:assets";

import Me from "@imageAssets/mii/mrjark-photo.jpeg";
import BookStarPill from "./BookStar-Pill.astro";
import BookStarFlag from "./BookStar-Flag.astro";
import BookStarFireEmpty from "./BookStar-Fire-Empty.astro";
import BookStarFireFill from "./BookStar-Fire-Fill.astro";
---

<div class="grid max-w-2xl mx-auto">
  <section class="pb-10 flex flex-col justify-center items-center mx-auto">
    <div class="flex flex-row w-full sm:px-10 mx-auto">
      <div class="overflow-hidden rounded min-w-24 sm:min-w-32 w-fit h-fit">
        <Image src={Me} height={160} width={140} alt="image mr" />
      </div>

      <section class="flex flex-col items-start ml-5 gap-y-2">
        <h2>Título del libro</h2>
        <BookStarPill rating={2} />
        <p class="">
          "Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
          maiores dignissimos animi reprehenderit rem reiciendis"
        </p>
      </section>
    </div>
  </section>
  <section class="pb-10 flex flex-col justify-center items-center mx-auto">
    <div class="flex flex-row w-full sm:px-10 mx-auto">
      <div class="overflow-hidden rounded min-w-24 sm:min-w-32 h-fit">
        <Image src={Me} height={160} width={140} alt="image mr" />
      </div>

      <section class="flex flex-col items-start ml-5 gap-y-2">
        <h2>Título del libro</h2>
        <BookStarFlag rating={2} />
        <p class="">
          "Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
          maiores dignissimos animi reprehenderit rem reiciendis"
        </p>
      </section>
    </div>
  </section>
  <section class="pb-10 flex flex-col justify-center items-center mx-auto">
    <div class="flex flex-row w-full sm:px-10 mx-auto">
      <div class="overflow-hidden rounded min-w-24 sm:min-w-32 h-fit">
        <Image src={Me} height={160} width={140} alt="image mr" />
      </div>

      <section class="flex flex-col items-start ml-5 gap-y-2">
        <h2>Título del libro</h2>
        <BookStarFireEmpty rating={2} />
        <p class="">
          "Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
          maiores dignissimos animi reprehenderit rem reiciendis"
        </p>
      </section>
    </div>
  </section>
  <section class="pb-10 flex flex-col justify-center items-center mx-auto">
    <div class="flex flex-row w-full sm:px-10 mx-auto">
      <div class="overflow-hidden rounded min-w-24 sm:min-w-32 h-fit">
        <Image src={Me} height={160} width={140} alt="image mr" />
      </div>

      <section class="flex flex-col items-start ml-5 gap-y-2">
        <h2>Título del libro</h2>
        <BookStarFireFill rating={3} />
        <p class="">
          "Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
          maiores dignissimos animi reprehenderit rem reiciendis"
        </p>
      </section>
    </div>
  </section>
</div>
