---
import { HEADER_LINKS } from "@/global/headerLinks";
import TestingNavLinks from "./TestingNavLinks.astro";

const currentPath = Astro.url.pathname;
---

<section class="xs:hidden">
  <button
    class="mobile-nav-toggle"
    aria-controls="navigation-mobile-menu"
    aria-expanded="false"
    ><svg
      class="h-6 w-6"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="3"
        d="M4 6h16M4 12h16M4 18h16"></path>
    </svg></button
  >

  <ul
    data-visible="false"
    id="navigation-mobile-menu"
    class="navigation-mobile-menu"
  >
    {
      HEADER_LINKS.map(({ customClasses, href, text }) => (
        <TestingNavLinks
          href={href}
          text={text}
          currentPath={currentPath}
          customClasses={customClasses}
        />
      ))
    }
  </ul>
</section>
