---
import { Image } from "astro:assets";
import Icon from "../../../public/favicon.svg";
// 18:41 -> https://www.youtube.com/watch?v=HbBMp6yUXO0&t=148s
---

<header class="flex items-center justify-between mt-12">
  <div>
    <Image src={Icon} alt="mrjark icon" width={30} height={30} />
  </div>
  <nav>
    <ul id="primary-navigation" class="primary-navigation flex">
      <li class="active">
        <a href="#">
          <span aria-hidden="true">00</span>Home
        </a>
      </li>
      <li class="active">
        <a href="#">
          <span aria-hidden="true">01</span>About
        </a>
      </li>
      <li class="active">
        <a href="#">
          <span aria-hidden="true">02</span>Patatas
        </a>
      </li>
      <li class="active">
        <a href="#">
          <span aria-hidden="true">03</span>Jamón
        </a>
      </li>
    </ul>
  </nav>
</header>

<style>
  /* primary header */
  .primary-header {
    align-items: center;
    justify-content: space-between;
  }

  .primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsla(240, 1%, 32%, 0.8);
  }
  .primary-navigation a {
    text-decoration: none;
  }
  .primary-navigation a > [aria-hidden="true"] {
    font-weight: 700;
    margin-inline-start: 0.75em;
  }

  @media (max-width: 35em) {
    .primary-navigation {
      position: fixed;
      inset: 30px 10px 10% 30%;

      flex-direction: column;
      padding: min(20vh, 10rem) 2em;
    }
  }
</style>
