---
interface NavLinkProps {
  href: string;
  text: string;
  currentPath: string;
  customClasses: string;
}

const { href, text, currentPath, customClasses } = Astro.props as NavLinkProps;
const isActive = currentPath.includes(href);

const linkClasses = [
  customClasses,
  isActive
    ? href === "/essay"
      ? "nav-essay_path"
      : href === "/book-notes"
        ? "nav-bookNotes_path"
        : href === "/about"
          ? "nav-about_path"
          : ""
    : "",
]
  .filter(Boolean)
  .join(" ");
---

<a href={href} class={`${linkClasses}`}>
  {text}
</a>
