---
import { getCollection } from "astro:content";

import MainLayout from "@layouts/MainLayout.astro";
import { PSYCHOLOGY_PAGE_INFO } from "@/global/pagesInfo";
import PsychologyPageSEO from "@SEO/pages/psychology/PsychologyPageSEO.astro";

import BiasCard from "@/components/pages/psychology/bias/BiasCard.astro";

const biases = await getCollection("bias");
---

<MainLayout>
  <PsychologyPageSEO
    slot="head"
    pageTitle={PSYCHOLOGY_PAGE_INFO.title}
    pageDescription={PSYCHOLOGY_PAGE_INFO.description}
  />
  <h1>Psychology</h1>
  <p>aquí debe ir un header muy bonito explicando las cosas</p>
  <h2>Bias</h2>
  <a class="text-xs underline text-mr-neon-blue" href="/essay/bias">Ir a bias</a
  >
  <section
    class="grid grid-cols-1 gap-x-1 gap-y-3 sm:gap-x-3 sm:gap-y-4 xs:grid-cols-2 sm:grid-cols-3 mt-4"
  >
    {
      biases.map((bias) => (
        <BiasCard entry={bias} transition:name={`${bias.slug}-name`} />
      ))
    }
  </section>
</MainLayout>
