---
import Github from "@icons/social/Github.astro";
import LinkedIn from "@icons/social/LinkedIn.astro";
import Substack from "@icons/social/Substack.astro";
import X from "@icons/social/X.astro";
---

<footer class="flex flex-col items-center footer">
  <hr class="pb-3 h-px w-3/4 text-mr-text-headers" />
  <div class="flex items-center justify-between w-full">
    <p class="text-xs self-start">mrjark - make with 🖤 & sweat 💦</p>
    <div class="flex justify-center items-center gap-2">
      <Github />
      <LinkedIn />
      <X />
      <Substack />
    </div>
  </div>
</footer>
