---

---

<footer class="">
  <h2 class="text-2xl">Footer here</h2>
  <p class="prose prose-invert ejemplo tracking-widest text-lg">
    Si yo pongo aquí cualquier cosa con acentos y demás, será lo suficientemente
    legible y se adaptará al texto par aque se vea de manera corrcta?%
  </p>
</footer>
