---

---

<footer class="my-2">
  <div class="w-2/3 mx-auto h-[0.2px] bg-gray-500 my-6"></div>
  <p class="my-comment">mrjark | All right reserver © - 2024</p>
  <p class="my-comment">
    Imagina que tienes que decidir si confías en alguien que acabas de conocer.
    En lugar de analizar detalladamente todos los aspectos de su comportamiento,
    es probable que tu cerebro tome un "atajo" y se base en cosas como su
    aspecto, tono de voz o semejanza con alguien que ya conoces.
  </p>
</footer>
