---
import type { NavLinkProps } from "@interfaces/navLinks.interface";

const { href, text, currentPath, customClasses } = Astro.props as NavLinkProps;
const isActive = currentPath.includes(href);

const navLinksClasses = [
  customClasses,
  isActive ? customClasses : "text-mr-primary-green",
]
  .filter(Boolean)
  .join(" ");
---

<a href={href} class={navLinksClasses}>
  {text}
</a>
