---
import type { NavLinkProps } from "@interfaces/navLinks.interface";

const { href, text, currentPath, customClasses } = Astro.props as NavLinkProps;
const isActive = currentPath.includes(href);

const navLinksClasses = [
  customClasses,
  isActive
    ? href === "/essay"
      ? "nav-essay_path"
      : href === "/book-notes"
        ? "nav-bookNotes_path"
        : href === "/about"
          ? "nav-about_path"
          : ""
    : "text-mr-primary-green",
]
  .filter(Boolean)
  .join(" ");
---

<a href={href} class={navLinksClasses}>
  {text}
</a>
