---

---

<div
  class="fixed bottom-6 right-5 md:right-auto w-full max-w-2xl mx-auto flex justify-end"
>
  <button
    id="scroll-to-top-btn"
    onclick="scrollToTop()"
    class="w-8 h-8 sm:right-10 sm:bottom-10 rounded-full border border-mr-primary-green bg-mr-primary-green bg-opacity-10 text-mr-primary-green hidden items-center justify-center"
  >
    ↑
  </button>
</div>

<script>
  const scrollButton = document.getElementById(
    "scroll-to-top-btn",
  ) as HTMLButtonElement;
  function toggleScrollButton() {
    const threshold = window.innerHeight / 3;

    if (window.scrollY >= threshold) {
      scrollButton.classList.remove("hidden");
    } else {
      scrollButton.classList.add("hidden");
    }
  }

  function scrollToTop() {
    window.scrollTo({ top: 0, behavior: "smooth" });
  }

  scrollButton.onclick = scrollToTop;
  window.addEventListener("scroll", toggleScrollButton);
</script>
