---
import { SOCIAL_LINKS } from "@/global/siteInfo";

/**
 * Así es cómo se haría cuando lo implemente
 * TODO: QUITARÍA LOS LI Y PONDRÍA DIV CON ICONOS DE ALGUNA LIBRERÍA
 */
---

<ul class="flex list-none items-center gap-2 p-0 sm:gap-3">
  {
    Object.keys(SOCIAL_LINKS).map((navItemKey) => {
      return (
        <li>
          <a href={SOCIAL_LINKS[navItemKey].url}>
            {SOCIAL_LINKS[navItemKey].name}
          </a>
        </li>
      );
    })
  }
</ul>
