---
import { convertDateToISO8601 } from "@utils/validatingDate";
import ReaderStaticMarkdowns from "@static/markdowns/ReaderStaticMarkdowns.astro";

import { Content as ContextContent } from "@static/markdowns/context.mdx";

// HACIENDO PRUEBAS 👇🏽
const date = "10-12-2024";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<ReaderStaticMarkdowns>
  {/* TODO: PONER UNA IMAGEN MÍA */}
  <ContextContent />
  <article>
    <p class="text-blue-400">
      {convertDateToISO8601(date)} | {new Date(Date.now())}
    </p>
    <p class="text-mr-primary-green">{canonicalURL}</p>
    <p>
      Lorem ipsum, <span
        class="font-code inset-x-0 bottom-0 hover:underline decoration-mr-neon-lime underline-offset-4 transition-all hover:decoration-mr-neon-lime/70"
        >dolor sit amet consectetur</span
      > adipisicing elit. Laboriosam perspiciatis nemo voluptates dolor corrupti
      labore quae perferendis, numquam nostrum quas placeat. <a
        class="no-underline text-mr-text-content font-rubik font-normal"
        href="/testing">testing</a
      > Ratione error minima maiores itaque repudiandae, nihil impedit vitae
    </p>

    <p class="text-mr-primary-green">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. <strong
        class="text-mr-text-content font-bold">Cupiditate quam autem</strong
      > Cupiditate quam autem
    </p>

    <span
      class="border border-mr-primary-green px-2 py-1 rounded-lg cursor-pointer"
      >Una especie de botón que no hace nada</span
    >
  </article>
</ReaderStaticMarkdowns>
