---
import { Picture } from "astro:assets";
import { Content as ContextContent } from "@static/markdowns/context.mdx";

import Mii from "@imageAssets/mii/mrjark-photo-profiles.jpeg";
import ReaderStaticMarkdowns from "@static/markdowns/ReaderStaticMarkdowns.astro";
---

<ReaderStaticMarkdowns>
  {/* TODO: PONER UNA IMAGEN MÍA */}
  <h1>¿Quién carajos (soy) es mrjark?</h1>
  <section class="flex w-full justify-center">
    <div
      class="shrink-0 w-32 h-32 xs:w-36 xs:h-32 rounded-full flex items-center justify-center p-2 rotate-180"
    >
      <Picture
        src={Mii}
        alt="Foto de perfil de mrjark aka Chema Ferrández"
        width="140"
        height="140"
        class="object-cover aspect-square rounded-full"
      />
    </div>
  </section>
  <ContextContent />
</ReaderStaticMarkdowns>
