---
import ReaderStaticMarkdowns from "@static/markdowns/ReaderStaticMarkdowns.astro";
import { convertDateToISO8601 } from "@utils/validatingDate";

const about = await Astro.glob("@static/markdowns/about.md");

const date = '2027-12-09'

// const canonicalURL =  new URL(Astro.url.pathname, Astro.site);
const currentPath = Astro.url
---

<ReaderStaticMarkdowns>
  <article>
    <p class="text-blue-400">{convertDateToISO8601(date)}</p>
    <p class="text-green-400">{currentPath}</p>
    {
      about.map((element) => (
        <h1 class="text-3xl text-mr-text-headers">{element.frontmatter.title}</h1>
        <p set:html={element.compiledContent()}/>
      ))
    }
  <p >
    Lorem ipsum, <span class="font-code inset-x-0 bottom-0 hover:underline decoration-mr-neon-lime underline-offset-4 transition-all hover:decoration-mr-neon-lime/70">dolor sit amet consectetur</span> adipisicing elit. Laboriosam perspiciatis nemo voluptates dolor corrupti labore quae perferendis, numquam nostrum quas placeat. Ratione error minima maiores itaque repudiandae, nihil impedit vitae?
  </p>
  </article>
</ReaderStaticMarkdowns>
