---
import ReaderStaticMarkdowns from "@static/markdowns/ReaderStaticMarkdowns.astro";

const home = await Astro.glob("@static/markdowns/home.md");
---

<ReaderStaticMarkdowns>
  {
    home.map((element) => (
      <h2 class="">{element.frontmatter.title}</h2>
      <p class="" set:html={element.compiledContent()}/>
    ))
  }
</ReaderStaticMarkdowns>