---
import MainLayout from "@layouts/MainLayout.astro";
import BookReview from "@test/BookReview.astro";
import BookStar from "@test/BookStar.astro";
---

<MainLayout>
  <!-- <h1>Pagina de testin de componentes</h1> -->

  <h1 class="text-green-500">Testing Page</h1>
  <BookReview />
</MainLayout>
