---
import MainLayout from "@layouts/MainLayout.astro";
import TestingNavbar from "@test/TestingNavbar.astro";
---

<MainLayout>
  <h1 class="text-green-500">Testing Page</h1>
  <TestingNavbar />
</MainLayout>
