---
import "../../styles/global.css";
import MainLayout from "@layouts/MainLayout.astro";

import Elemento from "../../components/test/testHome.mdx";
import ReaderStaticMarkdowns from "@static/markdowns/ReaderStaticMarkdowns.astro";
// const otraHome = await Astro.glob("@test/testHome.mdx");
// console.log(Elemento);
---

<MainLayout>
  <!-- <h1>Pagina de testin de componentes</h1> -->
  <ReaderStaticMarkdowns>
    <Elemento />
  </ReaderStaticMarkdowns>
</MainLayout>
