---
import MainLayout from "@layouts/MainLayout.astro";

import Elemento from "./src/components/test/testHome.mdx";
---

<MainLayout>
  <!-- <h1>Pagina de testin de componentes</h1> -->
  <Elemento />
</MainLayout>
