@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONT FACES*/
@layer base {
  /* headers */
  @font-face {
    font-family: "MuseoModerno";
    src: url("/fonts/MuseoModerno-Medium.woff2") format("woff2"),
      url("/fonts/MuseoModerno-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "MuseoModerno";
    src: url("/fonts/MuseoModerno-MediumItalic.woff2") format("woff2"),
      url("/fonts/MuseoModerno-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
  }
  
  /* text */
  /* text: normal*/
  @font-face {
    font-family: "Rubik";
    src: url("/fonts/rubik-light-webfont.woff2") format("woff2"),
        url("/fonts/rubik-light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Rubik";
    src: url("/fonts/rubik-regular-webfont.woff2") format("woff2"),
        url("/fonts/rubik-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Rubik";
    src: url("/fonts/rubik-medium-webfont.woff2") format("woff2"),
        url("/fonts/rubik-medium-webfont.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Rubik";
    src: url("/fonts/rubik-bold-webfont.woff2") format("woff2"),
        url("/fonts/rubik-bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }
  
  /* text: italic */
  @font-face {
    font-family: "Rubik";
    src: url("/fonts/rubik-lightitalic-webfont.woff2") format("woff2"),
        url("/fonts/rubik-lightitalic-webfont.woff") format("woff");
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: "Rubik";
    src: url("/fonts/rubik-mediumitalic-webfont.woff2") format("woff2"),
        url("/fonts/rubik-mediumitalic-webfont.woff") format("woff");
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: "Rubik";
    src: url("/fonts/rubik-bolditalic-webfont.woff2") format("woff2"),
        url("/fonts/rubik-bolditalic-webfont.woff") format("woff");
    font-weight: 700;
    font-style: italic;
  }

  /* CODE */
  @font-face {
    font-family: "Cascadia";
    src: url("/fonts/cascadia-webfont.woff2") format("woff2"),
        url("/fonts/cascadia-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

  /* MY COMMENTS */
  @font-face {
    font-family: "Note_This";
    src: url("/fonts/note_this-webfont.woff2") format("woff2"),
        url("/fonts/note_this-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  
}


@layer base {
  html {
    @apply bg-mr-bg antialiased
  }
  body {
    @apply bg-mr-bg antialiased
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-museo_moderno tracking-wider text-mr-text-headers
  }
  p {
    @apply font-rubik text-sm text-mr-text-content font-normal tracking-wide
  }
  a {
    @apply font-museo_moderno tracking-wider text-mr-text-headers
  }
}

@layer components {
  .my-comment {
    @apply font-comment text-sm text-mr-text-content tracking-wider
  }
  .coding {
    @apply font-code text-xs text-mr-text-content
  }
}