---

---

<section class="mb-8">
  <h1 class="mb-2">Notas de libros que he leido.</h1>
  <p>
    Algunas ideas clave, resúmenes y aprendizajes de los libros que han pasado
    por mis manos enfocados en crecimiento personal y profesional.
  </p>
</section>
