---

---

<section class="mb-8 mt-2">
  <h1 class="mb-2">Biblioteca personal.</h1>
  <p>
    Aquí recojo las ideas clave y resúmenes, junto con algunas notas personales
    que tomo, de los libros que han pasado por mis manos.
  </p>
  <p>
    Todos están enfocados de una u otra manera a mejorar mi carrera personal y
    profesional.
  </p>
</section>
