---
import { getCollection } from "astro:content";
import BookCard from "./BookCard.astro";
import BookHeader from "./BookHeader.astro";

const bookNotes = await getCollection("bookNotes");
---

<section class="grid mx-auto max-w-2xl">
  <BookHeader />
  {bookNotes.map((book) => <BookCard entry={book} />)}
</section>
