---
import { getCollection } from "astro:content";
import BookCard from "./BookCard.astro";

const bookNotes = await getCollection("bookNotes");
---

<h1 class="mb-8 animate-pulse">
  Books <span class="text-mr-neon-lime">page</span> in porgress
</h1>
<section class="grid mx-auto max-w-2xl">
  {bookNotes.map((book) => <BookCard entry={book} />)}
</section>
