---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout
  title="Lista de sesgos cognitivos"
  subTitle="Una lista donde se muestras los distintos sesgos cognitivos que existen con sus explicaciones, algunos ejemplos y formas en las que los puedes aplicar"
>
  <h1>Biases page in porgress</h1>
</MainLayout>
