---
/*inspiración -> https://www.creative-tim.com/twcomponents/component/tailwind-css-cards*/

import { Image } from "astro:assets";

interface Props {
  biasName: string;
  createdDate: string;
  lastTimeEdited?: Date;
  description: string;
  tags: string[];
  biasImage: string;
  language: string | string[];
  keywords: string[];
  slug: string;
  relatedLinks?: string[];
  readingTime?: number;
}

const {
  biasName,
  description,
  biasImage = "/images/markus-spiske-IiEFmIXZWSw-unsplash.jpg",
  slug,
  createdDate,
} = Astro.props;

const { url } = Astro.params;
---

<section
  class="w-full sm:w-52 container h-auto flex flex-col items-center justify-center"
>
  <Image
    width={240}
    height={160}
    src={biasImage}
    alt="image"
    class="w-full h-auto object-cover object-center rounded-t-lg"
  />
  <article class="py-2 rounded-b-lg mx-auto text-center bg-neutral-800">
    <h3 class="text-lg">{biasName}</h3>
    <div class="py-2">
      <p class="mb-4 mx-2 text-sm line-clamp-3">
        {description}
      </p>
      <a
        href=`/blog/biases/${slug}`
        class="mt-4 text-base underline decoration-[#4fe5b8]/50 underline-offset-4"
      >
        Saber más
      </a>
    </div>
  </article>
</section>
