---
import { Image } from "astro:assets";

interface Props {
  src: string;
  alt: string;
  width: number;
  height: number;
  moreClasses?: string;
}

const { alt, height, src, width, moreClasses } = Astro.props;
---

<div
  class="relative inline-block aspect-video w-full overflow-hidden rounded-t-lg"
>
  <Image
    src={src}
    height={height}
    alt={alt}
    width={width}
    class:list={[
      "absolute h-full w-full object-cover object-center transition-transform hover:scale-110",
      { moreClasses },
    ]}
  />
</div>
