---
/*inspiraci칩n -> https://www.creative-tim.com/twcomponents/component/tailwind-css-cards*/

import { Image } from "astro:assets";

interface Props {
  //TODO: QUITAR LOS ?
  biasName: string;
  description: string;
  image: string;
  slug: string;
}

const {
  biasName = "Nombre del sesgo",
  description = "Descripci칩n del sesgo que a a a tendr치s en tu .md en los contenidos",
  image = "/public/images/markus-spiske-IiEFmIXZWSw-unsplash.jpg",
  slug,
} = Astro.props;

const { url } = Astro.params;
---

<section class="w-52 h-auto flex flex-col items-center justify-center">
  <Image
    width={240}
    height={160}
    src={image}
    alt="unshplash image"
    class="w-full rounded-t-lg overflow-hidden object-cover"
  />
  <article class="py-2 rounded-b-lg mx-auto text-center bg-neutral-800">
    <h3 class="text-lg">{biasName}</h3>
    <div class="py-2">
      <p class="mb-4 mx-2 text-sm line-clamp-3">
        {description}
      </p>
      <a
        href=`/blog/biases/${slug}`
        class="mt-4 text-base underline decoration-[#4fe5b8]/50 underline-offset-4"
      >
        Saber m치s
      </a>
    </div>
  </article>
</section>
