---
import { Image } from "astro:assets";

interface Props {
  src: string;
  alt: string;
  width: number;
  height: number;
}

const { alt, height, src, width } = Astro.props;
---

<div class="relative inline-block aspect-video w-full overflow-hidden">
  <Image
    src={src}
    height={height}
    alt={alt}
    width={width}
    class="absolute h-full w-full object-cover object-center rounded-lg"
  />
</div>
