---
import Ejemplo from "@blog/biases/Ejemplo.astro";
import BookNotesLayout from "@layouts/BookNotesLayout.astro";
---

<BookNotesLayout title="mrjark | learnings">
  <h1>Work in progress</h1>

  <Ejemplo />
</BookNotesLayout>
