---

---

<section class="flex flex-col justify-center items-center mt-6 mx-auto">
  <p class="pb-2 text-sm">Pero por ahora, te puedo sugerir algunas a mano:</p>
  <div class="flex justify-center items-center gap-x-4 mx-auto">
    <a
      href="/"
      class="bg-mr-primary-green/20 text-xs rounded py-0.5 px-2 text-mr-primary-green font-code hover:underline
        decoration-mr-primary-green underline-offset-4 hover:cursor-pointer transition-all
        hover:decoration-mr-primary-green/70 inline-block"
      >/Home</a
    >
    <a
      href="/biblioteca"
      class="bg-mr-neon-gold/20 text-xs rounded py-0.5 px-2 text-mr-neon-gold font-code hover:underline
        decoration-mr-neon-gold underline-offset-4 hover:cursor-pointer transition-all
        hover:decoration-mr-neon-gold/70 inline-block"
      >/Biblioteca</a
    >
    <!-- <a
      href="/ensayos"
      class="bg-mr-neon-pink/20 text-xs rounded py-0.5 px-2 text-mr-neon-pink font-code hover:underline
        decoration-mr-neon-pink underline-offset-4 hover:cursor-pointer transition-all
        hover:decoration-mr-neon-pink/70 inline-block"
      >/Ensayos</a
    > -->
    <a
      href="/comportamiento/sesgos"
      class="bg-mr-neon-violet/20 text-xs rounded py-0.5 px-2 text-mr-neon-violet font-code hover:underline
        decoration-mr-neon-violet underline-offset-4 hover:cursor-pointer transition-all
        hover:decoration-mr-neon-violet/70 inline-block"
      >/Sesgos</a
    >
  </div>
</section>
