---
/**
 * Neceito porner el prerender porque aun no ha salido ASTRO 5 por ende, en las páginas dinámicas necesitas esto
 */
export const prerender = true;

import MainLayout from "@layouts/MainLayout.astro";
import type { CollectionEntry } from "astro:content";

import { getCollection, render } from "astro:content";

interface Props {
  entry: CollectionEntry<"bookNotes">;
}

export async function getStaticPaths() {
  const bookNotes = await getCollection("bookNotes");

  return bookNotes.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { data, slug } = entry;

const { title } = data;

const { Content } = await render(entry);

const meta = {
  description: "Book Note",
  title: "Book Note",
};
---

<MainLayout meta={meta}>
  <section class="">
    <div class="mx-auto mb-2 w-3/4"></div>
    <article class="prose prose-invert mx-auto">
      <h1 transition:name=`title-${slug}` class="text-center">
        {title}
      </h1>
      <Content />
    </article>
  </section>
</MainLayout>
