---
import BookNotesLayout from "@layouts/BookNotesLayout.astro";
---

<BookNotesLayout
  title="Notas de libros - mrjark"
  subTitle="Una lista de los libros junto con algunas notas que he tomado y que considero importantes recordar"
>
  <h1 class="text-xl mb-8">
    Books <span class="text-mr-neon-lime">page</span> in porgress
  </h1>
  <article class="prose prose-invert">
    <h2>Hola mundo</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id consequatur
      iusto, assumenda laboriosam <span class="text-mr-neon-violet"
        >hola caracola</span
      > eius voluptatum magni nihil ipsa ratione hic. Dicta quae omnis iure necessitatibus
      quam assumenda quas facere soluta!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
      dignissimos qui odit harum sint quidem suscipit inventore molestias
      corporis culpa rerum repudiandae nostrum autem, odio, ea pariatur nemo
      dolorum dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Maiores, dolores mollitia? Ipsa incidunt quidem praesentium? Placeat animi
      hic alias blanditiis obcaecati possimus ea asperiores praesentium
      laudantium? Mollitia eum dolores nisi.
    </p>
  </article>
</BookNotesLayout>
