---
import BookNotesLayout from "@layouts/BookNotesLayout.astro";
---

<BookNotesLayout
  title="Notas de libros - mrjark"
  subTitle="Una lista de los libros junto con algunas notas que he tomado y que considero importantes recordar"
>
  <h1 class="text-xl mb-8">
    Books <span class="text-mr-neon-lime">page</span> in porgress
  </h1>
</BookNotesLayout>
