---
import "../styles/global.css";

import { SITE_DEFAULT_CONFIG } from "@/global/siteInfo";

import Head from "@shared/Head.astro";
import Header from "@shared/Header.astro";
import Footer from "@shared/Footer.astro";

const { lang } = SITE_DEFAULT_CONFIG;
---

<!doctype html>
<html lang={lang}>
  <Head>
    <slot name="head" />
  </Head>
  <body class="mx-auto p-5 px-3 max-w-3xl min-h-screen">
    <Header />
    <main class="my-10 overflow-x-hidden">
      <slot />
    </main>
    <Footer />
  </body>
</html>
