---
import "../styles/global.css";

import BaseHead404 from "@SEO/404/BaseHead404.astro";

import GTMBody from "@analytics/Google/GTMBody.astro";

import { SITE_404_CONFIG } from "@/global/siteInfo";

const { lang } = SITE_404_CONFIG;
---

<!doctype html>
<html lang={lang}>
  <BaseHead404>
    <slot name="head" />
  </BaseHead404>
  <body class="mx-auto px-3 max-w-3xl min-h-screen">
    <GTMBody />
    <main class="my-5 overflow-x-hidden">
      <slot />
    </main>
  </body>
</html>
