---
import ViewTransitions from "astro/components/ViewTransitions.astro";

// import "../styles/dots.css";
import "../styles/global.css";

import Header from "@shared/Header.astro";
import Footer from "@shared/Footer.astro";

interface Props {
	title: string;
	subTitle?: string;
}

const { title, subTitle = "Blog de mrjark" } = Astro.props;
---

<!doctype html>
<html class="bg-[#0b0b0e]" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name={title} content={subTitle} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body
		class="mx-auto px-2 py-2 sm:py-6 max-w-md sm:max-w-xl md:max-w-2xl max-h-full"
	>
		<Header />
		<main class="my-12">
			<slot />
		</main>
		<Footer />
	</body>
</html>
<!-- 
<style is:global>
	body {
		background-color: #0b0b0e;
		color: #f5faff;
	}
</style> -->
