---
import ViewTransitions from "astro/components/ViewTransitions.astro";

import "../styles/global.css";

import Header from "@shared/Header.astro";
import Footer from "@shared/Footer.astro";

interface Props {
	title: string;
	subTitle?: string;
}

const { title, subTitle = "Blog de mrjark" } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name={title} content={subTitle} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- <meta name="generator" content={Astro.generator} /> -->
		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body class="mx-auto p-5 max-w-3xl">
		<Header />
		<main class="my-12">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	html {
		background-color: #0b0b0e;
		color: #f5faff;
	}
	body {
		background-color: #0b0b0e;
		color: #f5faff;
	}
</style>
