---
/*inspiración -> https://www.creative-tim.com/twcomponents/component/tailwind-css-cards*/
import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import TestIconBias from "../tests/TestIconBias.astro";

interface Props {
  entry: CollectionEntry<"bias">;
}

export async function getStaticPaths() {
  const biases = await getCollection("bias");

  return biases.map((entry) => ({
    params: { id: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { data, slug } = entry;
const { description, name } = data;
---

<article
  class="flex flex-col justify-between rounded-xl py-4 px-3 h-full border border-mr-bias"
>
  <div class="">
    <section class="flex items-center justify-start gap-x-3 pb-1">
      <TestIconBias
        width="32px"
        height="32px"
        customClass="flex-shrink-0 text-mr-text-headers"
      />
      <h2
        class="line-clamp-2 text-ellipsis overflow-hidden flex-grow"
        transition:name=`${slug}-name`
      >
        {name}
      </h2>
    </section>
    <section class="flex flex-col gap-2 mb-4">
      <p class="line-clamp-3">{description}</p>
      <span
        class="text-[#eac9f1] border border-mr-bias px-1 py-0.5 text-xxs rounded-lg w-fit font-museo_moderno tracking-wider"
        >Memory</span
      >
    </section>
  </div>
  <a class="text-mr-primary-green" href=`/psychology/bias/${slug}`>Saber más</a>
</article>
