---
interface Props {
  category: string[];
}

// Mapeo de categorías a colores de Tailwind
const categoryColors: Record<string, string> = {
  speed: "text-blue-500 border-blue-500 bg-blue-100/10",
  judgment: "text-green-500 border-green-500 bg-green-100/10",
  memory: "text-purple-500 border-purple-500 bg-purple-100/10",
  perception: "text-yellow-500 border-yellow-500 bg-yellow-100/10",
  context: "text-red-500 border-red-500 bg-red-100/10",
};

const { category } = Astro.props;
---

<div class="flex gap-2">
  {
    category.map((c) => (
      <span
        class={`capitalize px-1 py-0.5 text-xxs rounded-lg w-fit font-museo_moderno tracking-wider ${
          categoryColors[c]
        }`}
      >
        {c}
      </span>
    ))
  }
</div>
