---
import { getCollection } from "astro:content";

import BiasHeader from "./BiasHeader.astro";
import BiasCard from "./BiasCard.astro";
import GoBackInTop from "../shared/GoBackInTop.astro";

const biases = await getCollection("bias");
---

<section class="mx-auto">
  <GoBackInTop headPage="/psychology" />
  <section class="flex flex-col gap-y-4 xs:gap-y-16">
    <BiasHeader />

    <div class="max-w-2xl mx-auto flex flex-col">
      <h3 class="text-xl mb-4">Investiga</h3>
      <section class="grid grid-cols-1 xs:grid-cols-2 gap-x-4 mx-auto gap-y-4">
        {
          biases.map((bias) => (
            <BiasCard entry={bias} transition:name={`${bias.slug}-name`} />
          ))
        }
      </section>
    </div>
  </section>
</section>
