---
import BrainIcon from "./icons/BrainIcon.astro";
---

<section class="grid grid-cols-1 xs:grid-cols-2 mx-auto my-auto">
  <BrainIcon />

  <div class="my-5 flex flex-col justify-between gap-y-5">
    <h1
      class="text-2xl xs:text-3xl text-start"
      transition:name="bias-header-page-h1-transition-name"
    >
      Sesgos Cognitivos
    </h1>
    <p>
      <span
        class="font-medium underline underline-offset-2 decoration-mr-bias-500 inline-block"
        >¿Sabías que tu mente utiliza atajos para simplificar la toma de
        decisiones y a veces llevarte a errores?</span
      > Aquí recopilo algunos de ellos, analizando por qué ocurren, cómo evitarlos
      y cómo puedes aplicarlos (o cómo los aplican contigo) en distintos contextos.
    </p>
  </div>
</section>
