---
import { HEADER_LINKS } from "@/global/headerLinks";

import FooterMobileMenu from "@shared/headerMenus/FooterMobileMenu.astro";
import NavLinks from "./NavLinks.astro";

const currentPath = Astro.url.pathname;
---

<section class="xs:hidden z-50 xs:z-0">
  <button
    class="mobile-nav-toggle"
    aria-controls="navigation-mobile-menu"
    aria-expanded="false"
  >
    <svg
      class="h-7 w-7"
      viewBox="0 0 52 34"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M34.7689 8.44154C35.7452 7.46523 37.3282 7.46523 38.3045 8.44154L50.6788 20.8159C51.6551 21.7922 51.6551 23.3751 50.6788 24.3514V24.3514C49.7025 25.3277 48.1196 25.3277 47.1433 24.3514L34.7689 11.9771C33.7926 11.0008 33.7926 9.41785 34.7689 8.44154V8.44154ZM10.0202 1.37047C10.9965 0.394158 12.5794 0.394158 13.5557 1.37047L41.84 29.6547C42.8163 30.631 42.8163 32.214 41.84 33.1903V33.1903C40.8637 34.1666 39.2808 34.1666 38.3045 33.1903L10.0202 4.906C9.04389 3.92969 9.04388 2.34678 10.0202 1.37047V1.37047ZM1.18136 10.2093C2.15767 9.23299 3.74058 9.23299 4.71689 10.2093L17.0913 22.5837C18.0676 23.56 18.0676 25.1429 17.0913 26.1192V26.1192C16.115 27.0955 14.532 27.0955 13.5557 26.1192L1.18136 13.7448C0.20505 12.7685 0.20505 11.1856 1.18136 10.2093V10.2093Z"
        fill="currentColor"></path>
    </svg>
  </button>

  <ul
    data-visible="false"
    id="navigation-mobile-menu"
    class="navigation-mobile-menu"
  >
    {
      HEADER_LINKS.map(({ customClasses, href, text }) => (
        <NavLinks
          href={href}
          text={text}
          currentPath={currentPath}
          customClasses={customClasses}
        />
      ))
    }
    <FooterMobileMenu />
  </ul>
</section>
