---
import { HEADER_LINKS } from "@/global/headerLinks";
import NavLinks from "./NavLinks.astro";

const currentPath = Astro.url.pathname;
---

<section class="hidden xs:flex">
  <ul class="navigation-desktop-menu">
    {
      HEADER_LINKS.map(({ customClasses, href, text }) => (
        <NavLinks
          href={href}
          text={text}
          currentPath={currentPath}
          customClasses={customClasses}
        />
      ))
    }
  </ul>
</section>
